doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Restaurant Menu
    body 
        img(src="/images/appetizers.jpeg", alt="Pic of Hummus and Taziki Dip")
        img(src="/images/greekSalad_web.jpeg", alt="Pic of Greek Salad")
        img(src="/images/medSalad_web.jpeg", alt="Pic of Mediterrean Salad")
        img(src="/images/gyro-Chicken-02_web.jpeg", alt="Pic of Chicken Gyros")
        img(src="/images/gyro-Lamb-01_web.jpeg", alt="Pic of Lamb Gyros")
        img(src="/images/feast-Chargrilled-Lamb_web.jpeg", alt="Chargrilled Lamb Dinner")
        img(src="/images/feast-Salmon_web.jpeg", alt="Salmon Dinner")